.center {
  display: block;
  text-align: center;
  position: absolute;
  right: 39%;
  bottom: 14%;
  color: inherit;
  text-decoration: underline 0.15em rgba(255, 255, 255, 0);
  transition: text-decoration-color 300ms;
}

.center:hover {
  text-decoration-color: #fff;
}
.underline {
  /* color: inherit; */
  text-decoration: underline 0.15em rgba(255, 255, 255, 0);
  transition: text-decoration-color 300ms;
}
.underline:hover {
  text-decoration-color: #fff;
}
.name {
  color: inherit;
  text-decoration: underline 0.15em rgba(255, 255, 255, 0);
  transition: text-decoration-color 300ms;
  font-family: "Sansita";
  font-size: 900;
}
.name:hover {
  text-decoration-color: #fff;
}

.sign_in_position {
  position: absolute;
  right: 20px;
}

